@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h3>@ViewData["Title"]</h3>

<p style=" margin-top: 25px;">We respect your privacy and are committed to protecting your personal information. This Privacy Policy will provide you with information about how we handle your personal information. You will also learn about your rights and how applicable law protects you and your personal information. Please read this Privacy Policy carefully before using our Services.</p>
<p>This Privacy Policy applies to any and all products, services, content, functionality, technology or features and all related websites, mobile applications, mobile sites or other online services or applications that we offer (collectively, the "Services")</p>
<p>When you register to use our Services, we may collect the following information about you:</p>
<ul>
    <li>first and last name</li>
    <li>email address</li>
</ul>
<p>In the course of using our Services, you may also voluntarily provide the following additional personal information:</p>
<ul>
    <li>first and last name</li>
    <li>email address</li>
    <li>cell phone number</li>
</ul>
<p>Communication through the chat feature on our Service:</p>
<p>When you use the chat feature to communicate with other users, we collect the content of the messages and information you provide through the feature.</p>

<style>
    ul li::marker {
        color: black;
    }
</style>